//引入清除默认样式
@import './reset.scss';

//滚动条外观
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background:  $base-menu-color;
}
::-webkit-scrollbar-thumb{
  background:  yellowgreen;
  border-radius: 10px;
}